* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

:root {
    --main-color: rgb(14, 14, 87);
    --secondary-color: rgb(253, 253, 252);
}

.section {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.first {
    background-color: var(--main-color);
    color: var(--secondary-color);
    height: 30vh;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.name h1.name {
    height: auto;
}

.name .text {
    padding: 5px 0px;
}

.section.second {
    background-color: var(--secondary-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.second p {
    padding-left: 100px;
    font-weight: bold;
}

.quoteAndPicture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    max-width: 1000px;
    width: 1400px;
}

.section.third {
    height: 40vh;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.biographyDiv{
    width: 250px;
}

.section.third .biography.text {
    font-size: 12px;
    font-weight: 100;
}

.section.third .biographyHeading {
    margin-bottom: 10px;
}


